div#item {
  display: flex;
  align-items: center;
  margin: 50px 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

div#item img {
  width: 60px;
}

div#item h3 {
  flex-grow: 1;
  margin: 0 20px;
  text-align: left;
}

div#item select {
  visibility: hidden;
}

@media (max-width: 800px) {
  div#item img {
    width: 60px;
  }
}
