div#item {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

div#item img {
  width: 100px;
}

div#item h2 {
  flex-grow: 1;
  margin: 0 20px;
  text-align: center;
}

div#item button#add {
  visibility: hidden;
}

@media (max-width: 800px) {
  div#item img {
    width: 60px;
  }
}
