body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

div#shop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  width: 800px;
}

h1 {
  text-align: center;
  font-size: 32px;
}

/* Selections */

div#selections {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

label {
  display: inline-block;
}

select,
input {
  box-sizing: border-box;
  height: 30px;
  width: 180px;
  margin: 15px;
  padding: 3px 10px;
  font-size: 14px;
  border: 1px solid black;
}

/* Amount */

input {
  flex-grow: 1;
  width: 50px;
  margin: 0;
}
button {
  width: 30px;
  height: 30px;
}

button#minus {
  border-right: 0;
  border-radius: 40% 0% 0% 40%;
}

button#plus {
  border-left: 0;
  border-radius: 0% 40% 40% 0%;
}

/* Product */

div#product {
  text-align: center;
}

div#product h2 {
  margin: 30px auto 0;
  font-size: 24px;
}

div#product #category {
  margin-top: 0;
  font-weight: 100;
  color: #aaa;
}

div#product img {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
}

div#product p {
  text-align: justify;
}

/* Counter */

div#counter {
  margin: 10px 2%;
}

div#price {
  display: inline-block;
}

@media (max-width: 800px) {
  div#shop {
    width: 90%;
    font-size: 13px;
  }
  h1 {
    font-size: 20px;
  }

  /* Selection */

  select,
  input {
    width: 100px;
    height: 22px;
    font-size: 10px;
  }

  /* Amount */

  input {
    width: 40px;
  }

  button {
    width: 22px;
    height: 22px;
    font-size: 13px;
  }

  /* Product */

  div#product h2 {
    font-size: 18px;
  }

  div#product img {
    width: 70%;
    max-width: 150px;
    max-height: 200px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
